{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{% static './students/tailwind-output.css' %}"
        />
        <title>Document</title>
    </head>
    <body>
        <div class="main">
            
            <header class="flex bg-green-600 p-3 text-white justify-between">
                <p class="text-3xl font-bold">Students</p>
                <input
                    type="search"
                    id="search"
                    autocomplete="off"
                    placeholder="Search"
                    class="w-1/3 text-gray-600 rounded px-3"
                />
                {% if user.is_authenticated %}
                <div class="m-2">
                    <!-- {{user.username}} -->
                    <a
                        href="{% url 'logout' %}"
                        class="px-6 bg-yellow-400 py-1.5 font-semibold rounded"
                        >Logout</a
                    >
                </div>
                {% else %}
                <a
                    href="{% url 'login' %}"
                    class="px-6 bg-yellow-400 py-1.5 font-semibold rounded"
                    >Login</a
                >
                {% endif %}
            </header>
            <div class="text-right px-10 pt-5">
                <a href="{% url 'add' %}" class=""
                ><button class="bg-blue-600 px-6 py-1.5 font-semibold text-white rounded">
                    Add student
                </button></a
            >
            </div>
            
            <div class="overflow-hidden rounded-lg border-gray-200 border-2 border-t-0 m-5">
                <div class="bg-green-600 border-gray-200 border-t-2 px-3 py-5 rounded-t-lg text-white font-bold text-2xl">
                    <span class="w-1/6  inline-block">Name</span>
                    <span class="w-1/6 inline-block">Father Name</span>
                    <span>Phone</span>
                </div>
                <div class="wrap flex flex-col" id="wrapper">
                    {% for student in stu_lst %}
                    <a href="../home/{{ student.s_roll }}" class="hover:bg-gray-100">
                        <div class="row font-bold border-t-2 border-gray-200 px-2 py-3">
                            <span class="w-1/6 ml-2 inline-block"> {{ student.s_name }} </span>
                            <span class="w-1/6 inline-block">{{ student.s_father_name }}</span>
                            <span>(+93) - {{ student.s_phone }}</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script src="{% static 'students/app.js' %}"></script>
    </body>
</html>
